body{
    font-family: 'Glory', sans-serif;
    width: 100%;
    height: 100vh;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
}
a{
    text-decoration: none;
}
main{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* border-radius: 1rem; */
    margin: auto;
}
header{
    text-align: center;
}
header div{
    width: fit-content;
    margin: auto;
}
header h1{
    padding: 1rem;
    color:  hsl(249, 92%, 63%);
    font-weight: 700;
}

.panel-wrapper{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    width: 20rem;
    height: 20rem;
    border: 2px solid  hsl(249, 92%, 63%);
    border-radius: .4rem;
    display: flex;
    flex-direction: column;  
}
.panel-wrapper label{
    font-size: 1.2rem;
    cursor: pointer;
    padding: .2rem;
    border-bottom: 2px solid hsl(249, 92%, 63%);
    background-color: hsl(249, 92%, 63%);
    color: white;
    font-weight: 500;
}
.frequency-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
}
.frequency-wrapper img{
    width: 15%;
    height: auto;
}
.frequency-wrapper .frequency-value{
    font-size: 3rem;
}


.test{
    right: 0;
}